<!DOCTYPE html>
<html>
<head>
  <title>TransitStuff</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <h1>Trains</h1>
  </div>
</div>
<div id="line"></div>


<%= yield %>


</body>
</html>
